.choose {
  background-color:#A495B2;
  color:black;
}

.incorrect:disabled{
  background-color:#cd473b;
  color:black;
}

.correct:disabled{
  background-color: #4FB477;
  color:black;
}
.correctAll:disabled{
  background-color: #4FB477;
  color:black;
}
.incorrectAll:disabled{
  background-color:#cd473b;
  color:black;
}
