<mat-card [attr.id] = 'topOfPage' >
  <div class="parent"  >
    <div class="div1">
      <div style="height:85%; position:fixed;left:10%;top:10%;overflow:auto;" >
        <ul>
          <li>
            <a mat-list-item [routerLink]='"."' [fragment]='topOfPage'>title</a>
          </li>
          <li>
            <a mat-list-item [routerLink]='"."' [fragment]='topOfPage'>description</a>
          </li>
            <a mat-list-item [routerLink]='"."' [fragment]='topOfPage'>tags</a>
        </ul>
        <ul>
          <li *ngFor="let question of questions">
            <a [routerLink]='"."' [fragment]='(questions.indexOf(question)+1).toString()' (click)="moveToQuestion(question)">question {{(questions.indexOf(question)+1).toString()}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="div2">
      <form >
        <mat-form-field appearance="outline" >
          <mat-label>Title</mat-label>
          <input matInput class="title" type="text" name="title" [(value)]="quiz.title"/>
        </mat-form-field>
          <br/>
          <mat-form-field appearance="outline" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea  matInput row="6" class="description" type="text" name="description">
            </textarea>
          </mat-form-field>
          <mat-form-field class="chip-list" appearance="outline">
            <mat-chip-list #chipList aria-label="Tag selection">
              <mat-chip *ngFor="let tag of tags"
                        (removed)="removeChip(tag)">
                {{tag.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input  placeholder="Add Tags ..."
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="chipAddOnBlur"
                      (matChipInputTokenEnd)="addChip($event)">
            </mat-chip-list>
          </mat-form-field>
          <br/>
        <button mat-raised-button type="submit" color="primary" *ngIf="!quizCreated" (click)="createQuiz()">Create</button>
      </form>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let question of questions" [class.mat-elevation-z5]=true [expanded]="currQuestion===questions.indexOf(question)" [attr.id]='(questions.indexOf(question)+1).toString()'>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Question {{(questions.indexOf(question)+1).toString()}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div>
              <form>
                <mat-form-field  appearance="outline">
                  <mat-label>Question</mat-label>
                  <textarea matInput type="text">{{question.question}}</textarea>
                </mat-form-field>
                <mat-divider></mat-divider>
                <div *ngFor="let choice of question.choices" >
                  <div>
                    <mat-checkbox style="float:left; margin-top:0.5rem" [checked]="choice.c"></mat-checkbox>
                    <button mat-icon-button [disabled]="question.choices.length<=2" color="warn" style="float:right;">
                      <mat-icon (click)="removeChoice(question.choices, choice)">clear</mat-icon>
                    </button>
                  </div>
                  <mat-form-field appearance="outline">
                    <mat-label>choice: {{letterOf(question.choices, choice)}}</mat-label>
                    <textarea style="margin: auto;" matInput type="text">{{choice.ans}}</textarea>
                  </mat-form-field>
                </div>
                  <mat-form-field appearance="outline">
                    <mat-label>Tag</mat-label>
                    <input matInput class="tag" type="tag" name="tag" [value]="question.tag"/>
                  </mat-form-field>
              </form>
            </div>
            <mat-action-row>
              <button class="expansionAction" mat-raised-button (click)="addChoice(question)"> Add Choice</button>
              <button class="expansionAction" mat-raised-button (click)="saveQuestion(question)">Save </button>
              <button class="expansionAction" mat-raised-button color="warn" (click)="removeQuestion(question)">Remove Question</button>
            </mat-action-row>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <button class="addQuestion" mat-raised-button type="submit" color="primary" *ngIf="quizCreated" (click)="addQuestion()">Add Question</button>
  </div>
  </div>
</mat-card>
