mat-form-field,
textarea {
  width: 100%;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  mat-card mat-expansion-panel{
    margin: 1rem auto;
  }
  .div1 {
    grid-area: 1 / 1 / 6 / 2;
    background-color: aquamarine;
    position:fixed;
    overflow-y: auto;
  }
  form{
    font-size: 16px;
  }
  button{
    font-size: 16px;
  }
  .addQuestion{
    margin: 0.5rem auto;
  }
  .div2 {
    grid-area: 1 / 2 / 6 / 6;
    margin: 4rem 4rem auto;
  }
  a {
    text-decoration: none;
    color: black;
  }

  ul {
    list-style:none;
    padding:auto 1rem;
    margin:auto 1rem;
    text-align: right;
  }
.expansionAction{
  float:right;
}
